{% extends 'main.html' %}

{% block content %}
<div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Confirm Password Reset</h3>
      </div>
    </div>
    <div class="layout__body">
  <form method="POST" id="reset-password-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
    </div>
    </div>
</div>

  <script>
    // JavaScript code to display the confirmation prompt
    document.getElementById('reset-password-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const isConfirmed = confirm('Are you sure you want to reset your password?');
      if (isConfirmed) {
        // If user confirms, submit the form
        this.submit();
      } else {
        // If user cancels, do nothing or perform any other action if needed
        // For example, redirect back to the login page
        window.location.href = "{% url 'login' %}";
      }
    });
  </script>
{% endblock %}
