{% extends 'main.html' %}

{% block content %}
<div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Forgot Password</h3>
      </div>
    </div>
    <div class="layout__body">
  <h2 class="auth__tagline">Enter your Email</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <button type="submit" class="btn btn-primary">Continue</button>
  </form>
    </div>
  </div>
</div>
{% endblock %}
